.UserInfo {
  padding: 16px;

  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    vertical-align: middle;
  }

  span {
    display: inline-block;
    margin-left: 14px;
    vertical-align: middle;
  }
}
